<!DOCTYPE html>
<html lang='en'>
<head>

	<meta charset="UTF-8">
	<title> Sushiksha Hackathon </title>
	<link rel="stylesheet" href="../static/css/sushikshacss.css">
</head>
<body style="background-color: ">
	<h2 style="text-align: center; color:#2B394A ; font-family:Helvetica; font-size: 36px; "> SCL PRESENTS SANDBOX HACKATHON</h2>
	<img src="../static/images/SUSHIKSHAimg.jpg " alt="SUSHIKSHA LOGO" width="140" height="160" style="float: left;" style="position:absolute;">
	<img src="../static/images/LAKSHAK.jpg " alt="LAKSHAK LOGO" width="140" height="160" style="float: right;">
	
	<header>
		<h1 style="font-family: comic sans MS; font-size: 60px; color: #003399; margin: 100px; " ><center>TEAM LAKSHAK </center></h1>
		<div class="xyz" style="text-decoration: none; display: flex;justify-content: space-between;align-items: center;" >
			<centre>
				<a href="timer">
				<img class="ex1" src="../static/images/TIMER.jpg " alt="TIMER APPLICATION" width="220px;" title="TIMER APPLICATION"  > </a>
			<a href="dictionary">
			    <img class="ex1" src="../static/images/DICTIONARY.jpg " alt="DICTIONARY" width="220px" title="DICTIONARY"></a>
			<a href="todo">
				<img class="ex1" src="../static/images/TO-DO.jpg " alt="TO-DO LIST" width="220px" title="TO-DO LIST"> </a>
			<a href="head">
				<img class="ex1" src="../static/images/GAMING.jpg " alt="GAMING" width="220px" title="GAMING"> </a>    	 
	</centre>
	</div>
	</header>
	

	<div class="footer">
<img src="../static/images/VAA.jpg " alt="VAA LOGO" width="100" height="120" style="float: right;">
<img src="../static/images/WKC.png " alt="WKC LOGO" width="100" height="120" style="float: right;">		
	
	
	</footer>
</body>